body {
	background-color: #FFF;
	padding: 20px;
	margin: 0;
}

.header {
	height: auto;
}

.header__logo{
	height: 50px;
	color: #000;
}

.header__navigation{
	background-color: #fff;
	
}

h1, h2, p, ul, li {
	
}

ul {
	display: inline;
	list-style-type: none;
	margin: 0;
}

.header{
	clear: both;
	margin-bottom: 30px;
}

.navigation__list{
	font-size: 14px;
}

.content {
	background-color: #FFF;
	padding: 20px;
}

.content__title{
	padding: 5px;
	border-bottom: 1px solid #eaeaea;
}

.content__detail{
	height: auto;
}

.news__list{
	border-bottom: 1px solid #eaeaea;
	padding: 22px 5px;
	width: 1040px;
	max-height: 150px;
}

.news__image{
	float: left;
	clear:both;  
}

.img__thumbnail{
	width: 100%;
	height: 0;
  	padding-bottom: calc(591.44 / 1127.34 * 100%);
	background-repeat: no-repeat;
	background-size: contain;
	background-position-x: center;
}

.news__text{
	min-height: 50px;
	float: left;
}

.news__title{
	font-size: 18px;
	font-weight: bold;
	word-wrap: break-word;
	text-decoration: none;
  	display: inline-block;
}

.news__title:hover, .news__title:link{
	text-decoration: none;
  	display: inline-block;
}

a:hover, a:link{
	text-decoration: none;
  	display: inline-block;
}

.a:hover{
	text-decoration: none;
  	display: inline-block;
}

.news__detail{
	max-height: 150px;
}


@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}
.loading{
	margin: 20px 0px;
	
}
.loading__image {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 1000px 104px;
    height: 100px;
    position: relative;
    overflow: hidden;
	float: left;
}

.loading__text-top {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 1000px 104px;
    height: 20px;
    position: relative;
    overflow: hidden;
	padding-left: 20px;
    margin-left: 200px;
}

.loading__text-bottom {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 1000px 104px;
    height: 20px;
    position: relative;
    overflow: hidden;
	padding-left: 20px;
    margin-left: 200px;
	margin-top:20px;
}